*{
    margin: 0;
    padding: 0;
}

ul, li{
    list-style: none;
}



header{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(248, 246, 239);
    z-index: 999;
}
header>.container{
    margin-right: 4.16666667%;
    margin-left: 4.16666667%;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.header-inner{
    align-items: center;
    justify-content: space-between;
    
}
.logo{
    max-width: 300px;
    
}
.header-nav{
    gap: 25px;
    display: flex;
    flex-direction: column;
    
}

header .nav-a>ul>li{
    position:relative;
    display: list-item;
    text-align: justify;
    display: inline-block;
    background: #fff;
    padding-left: 40px;
    padding-top: 12px;
    padding-right: 20px;
    padding-bottom: 5px;
    margin-left: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    
}

header .nav-a>ul>li>.chinese{
    vertical-align: inherit;
    text-decoration: none;
    color: rgb(68, 56, 44);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 510;
    
}

header .nav-a>ul>li>.nav-tag{
    position: absolute;
    color: rgb(37, 103, 76); 
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 510px;
    left: 10px;
    top: -8px;
  }

.nav-b{
    display: flex;
    justify-content: flex-end;
    order: -1;
}

.flex{
    display: flex;
}

.item-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}
.up-nav-text{
    color: rgb(68, 56, 44);
    font-size: 14px;
}

a{
    text-decoration: none;
}


header .nav-b>ul>li{
    position:relative;
    display: list-item;
    text-align: justify;
    display: inline-block;
    box-sizing: border-box;
}
.nav-b a{
    display: inline-block;
    margin-left: 10px;
}
.nav-b a>span{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.nav-b a:nth-child(4){
    margin-left: 0px; ;

}
.nav-b a:nth-child(5){
    margin-left: 40px; ;

}
.banner-bg{
    position: relative;
    padding-top: 150px;
    background-color: rgb(248, 246, 239);
    /* height: 650px; */
    overflow: hidden;
    clear: both;

    
}
.banner-img{
    margin-left: 8.33333333%;
    width:90%;
    float: right;

}
button{
    position: absolute;
    bottom: 10%;
    right: 8%;
}
.btn{
    display: inline-block;
    margin-left: 86.1111111%;
    margin-top: -100px;
    padding: 5px;
    background: none;
    border: 2px solid rgb(37, 103, 76) ;
    border-radius: 4px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #fff ;

}

.section-padding{
    display: block;
    position: relative;
    background-color: rgb(248, 246, 239);
    padding: 70px 120px 0px 120px;
}
.tittle-h2{
    display: block;
    position: absolute;
    margin-left: 22px;
    top: 0;
    height: 300px;
    border-left: 3px solid rgb(37, 103, 76);
    color: rgb(37, 103, 76);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 20px;
    margin-top: 17px;
}
.newsList{
    margin: 0;
    display: block;
    margin-left: 290px;

}
.news{
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 10em;
    text-align: right;
    transform-origin: 100%;
    transform: rotate(90deg) translate(100%, 0);
    /* background-color: rgb(139, 28, 28); */
}

.newsList>li{
    display: inline-block;
    border-bottom: 1px solid rgb(211, 206, 106);
    margin-bottom: 25px;
    padding: 4px;
}
.newsList>li>a{
    display: inline-block;
    cursor: pointer;
}
.date{
    color: rgb(68, 57, 45);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.yellow-hot{
    display: inline-block;
    color: #fff;
    background-color: rgb(237, 187, 70);
    border-radius: 4px;
    padding: 2.5px 4px;
    margin: 5px 15px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 505;
}
.gray-hot{
    display: inline-block;
    color: #fff;
    background-color: rgb(217, 217, 217);
    border-radius: 4px;
    padding: 2.5px 4px;
    margin: 5px 15px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 505;
}
.news-tittle{
    color: rgb(68, 57, 45);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 505;
}
.moreNews{
    float: right;
    margin-top: -256px;
    /* margin-right:  */
    padding: 5px;
    background-color: rgb(37, 103, 76);
    border-radius: 5px;
    cursor: pointer;
}
.moreNews>a{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

/* 以下為行程區 */
.bg-picture1{
    /* height: 1290.1px; */
    width: 100%;
    background-image: url(images/bgImage1.png);
    margin-top: -1px;
    position: relative;
    background-repeat: no-repeat;
}
.tittle1{
    display: block;
    border-left: 4px solid rgb(237, 187, 70);
    padding-left: 1rem;
    letter-spacing: 0.04em;
    line-height: 1;
    color: rgb(68, 57, 45);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 510;
}
.tittle2{
    display: block;
    border-left: 4px solid rgb(211, 206, 106);
    padding-left: 1rem;
    letter-spacing: 0.04em;
    line-height: 1;
    color: rgb(68, 57, 45);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 510;
}
.tittle3{
    display: block;
    border-left: 4px solid rgb(37, 106, 78);
    padding-left: 1rem;
    letter-spacing: 0.04em;
    line-height: 1;
    color: rgb(68, 57, 45);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 510;
}
.margin{
    margin-bottom: 60px;
}
.number>a{
    color: rgb(68, 57, 45);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.bg-picture1>.container-m{
    /* position: absolute; */
    max-width: 1200px;
    width: 95%;
    margin: auto;
    /* background-color: rgb(145, 18, 18); */
    height: 1290.1px;
    /* margin-left: 8.33333333%; */
    /* margin-top: 135px; */
    padding-top: 133px;
}

.inner-container{
   display: flex;
   width: 1200px;
   width: 95%;
   /* flex-wrap: wrap; */
   /* background-color: rgb(90, 98, 209); */
   justify-content: space-between;
}

/* .son{
    
    /* background-color: rgb(68, 167, 139); */
    /* width: 280px; */
    
.son{
    width: 25%;
    margin: 2%;
}
.son img{
    width: 100%;
}
.number{
    position: absolute;
    /* margin-left: 50%; */
    display: block;
    bottom: -10px;
    left: 50%;
    transform: translateX(10px);
    
}
.number>a{
    display: inline-block;
    /* background-color: rgb(24, 130, 98); */
}

.img-container{
    /* height: 279; */
    /* width: 280px; */
    border-radius:20px;
    background-color: rgb(255, 255, 255);
}
.img-content>p{
    color: rgb(68, 57, 45);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

.bg-picture2{
    height: 1156px;
    width: 100%;
    background-image: url(images/bg2.png);
}
.bg-picture2>div>a{
    display: block;
}
.footerBg{
    height: 390px;
    width: 100%;
    background-image: url(images/footerBg.png);
}
