*{
    margin: 0;
    padding: 0;
}

ul, li{
    list-style: none;
}

.space-between{
    justify-content: space-between;
    margin: 100px 50px 150px 50px ;
}
/*//////////// header區 ////////////*/
header{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(248, 246, 239);
    z-index: 999;
}

.headerBt{
    /* display: none; */
}

.header-inner{
    align-items: center;
}

@media (min-width: 930px){
    .flex{
        display: flex;
    }
    header>.container{
        margin-right: 4.16666667%;
        margin-left: 4.16666667%;
    }
    .header-inner{
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
    }
    .header-nav{
        gap: 25px;
        display: flex;
        flex-direction: column;
    }
    header .nav-a>ul>li{
        display: inline-block;
        border-radius: 8px;
        margin-left: 10px;
        padding-top: 12px;
        text-align: justify;
    }
    header .nav-a>ul>li>.nav-tag{
        position: absolute;
    }
    .nav-b{
        display: flex;
        justify-content: flex-end;
        order: -1;
    }
    .item-center{
        align-items: center;
    }
    .display-md-none {
        display: none;
    }
    .banner-text{
        position: absolute;
        top: 0;
        right: 0;
        width: 22.7%;
        max-width: 240px;
        height: 100%;
        margin: auto;
        font-family:Arial, Helvetica, sans-serif;
        /* padding-top: 35px; */
        /* padding-top: 15%; */
        /* padding-bottom:50px;  */
        background-color: rgba(44, 38, 30, 0.5);
        color:rgb(248, 246, 239);
        font-size: 14px;   
        /* margin-left:82.8%; */
        box-sizing: border-box;
        padding-right: 30px;
        padding-left: 35px;
        line-height: 100%;
        
        
    }
    .banner-text>p{
        margin-bottom: 14px;
        line-height: 30px;
        
    }
    .banner-tittle{
        padding-top: 105px;
        text-align: center;
        font-size: 16px;
    }
    .ph-text, ph-tittle, ph-illustrate, btn-ph{
        display: none;
    }
  
    .blank{
        width: 100%;
        height: 130px;
        background-color: rgb(248, 246, 239);
    }
    .tittle-h2{
        display: block;
        position: absolute;
        margin-left: 22px;
        top: 0;
        height: 300px;
        border-left: 3px solid rgb(37, 103, 76);
        color: rgb(37, 103, 76);
        font-family:Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 500;
        padding: 20px;
        margin-top: 65px;
    }
    .news{
        position: absolute;
        display: block;
        top: 30px;
        right: 0;
        width: 10em;
        text-align: right;
        transform-origin: 100%;
        transform: rotate(90deg) translate(100%, 0);
        /* background-color: rgb(139, 28, 28); */
    }
    .newsList{
        margin: 0;
        display: block;
        margin-left: 290px;
    
    }
    .moreNews{
        float: right;
        margin-top: -256px;
        /* margin-right:  */
        padding: 5px;
        background-color: rgb(37, 103, 76);
        border-radius: 5px;
        cursor: pointer;
    }
    .inner-container {
        position: relative;
        display: flex;
        width: 1200px;
        width: 100%;
        /* flex-wrap: wrap; */
        /* background-color: rgb(90, 98, 209); */
        justify-content: space-between;
    }
    .son{
    width: 25%;
    margin: 2%;
    }
    .number>a{
        color: rgb(68, 57, 45);
        font-family:Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
    }
    .number{
        position: absolute;
        /* margin-left: 50%; */
        display: block;
        left: 50%;
        top: 350px;
        transform: translateX(-50%);
    }
    .number>a{
        display: inline-block;
        /* background-color: rgb(24, 130, 98); */
    }
    number-margin-top{
        margin-top: 25px;
    }
    .section-padding{
        display: block;
        position: relative;
        background-color: rgb(248, 246, 239);
        padding: 70px 120px 0px 120px;
    }
    
}

@media (max-width: 930px){
    .header-inner{
        align-items: center;
    }

    header {
        position: relative;
    }
    .logo{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
    .logo img{
        width: 231.6px;
        height: 56.8px;
    }


    .header-nav{
        position: absolute;
        width: 100%;
        top: 76px;
        left: 0;
        display: none;
    }
    header-nav.active {
        display: block;
    }
    header .nav-a>ul{
        padding-top:20px;
    }

    header .nav-a>ul>li{
        display: block;
        text-align: center;
    }
    header .nav-a>ul>li>a{
        display: block;
        /* text-align: center; */
    }
    header .nav-a>ul>li>span{
        display: block;
        text-align: center;
    }
    .nav-b{
        background-color: #fff;
    }
    .icon-menu {
        /* background-color: rgb(211, 206, 106); */
        width: 40px;
        height: 40px;
        display: inline-block;
        margin-left: 3%;
        margin-top: 1%;
    }
    .banner-text{
        display: none;
    }
    .blank{
        width: 100%;
        height: 30px;
        background-color: rgb(248, 246, 239);
    }
    .ph-text{
        padding: 20px 0px;
        background-color: rgb(248, 246, 239);
        padding-left: 8.333333%;
        padding-right: 8.333333%;
    }
    .ph-tittle{
        color: rgb(68, 57, 45);
        font-family:Arial, Helvetica, sans-serif;
        font-size:16px;
        font-weight: 510;
        text-align: center;
        margin-bottom: 5px;
    }
    .ph-illustrate{
        color: rgb(68, 57, 45);
        font-family:Arial, Helvetica, sans-serif;
        font-size:14px;
        font-weight: 500;
        display: inline;
        line-height: 25px;
    }
    .btn-ph{
        text-decoration: none;
        color:rgb(68, 57, 45);
        /* background-color: rgb(68, 57, 45); */
        border: 1px solid rgb(68, 57, 45);
        display: inline-block;
        padding: 2px 0px 2px 0px;
        max-width: 80px;
        text-align: center;
        border-radius:4px;
        text-shadow: none;
        margin-left: 32.2%;
        font-size: 12px;
        font-family:Arial, Helvetica, sans-serif;
        margin-left: 46.2%;

    }
    .tittle-h2{
        display: block;
        position: absolute;
        margin-left:5%;
        top: 0;
        height: 30px;
        border-bottom: 3px solid rgb(37, 103, 76);
        color: rgb(37, 103, 76);
        font-family:Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 500;
        padding-top: 20px;
        /* margin-top: 65px; */
    }
    .newsList{
        margin: 0;
        display: block;
        /* margin-left: 290px; */
    }
    .moreNews{
        float: right;
        margin-top: -26px;
        /* margin-right:  */
        padding: 5px;
        background-color: rgb(37, 103, 76);
        border-radius: 5px;
        cursor: pointer;
    }
    .inner-container {
        position: relative;
        display: flex;
        width: 1200px;
        width: 100%;
        flex-wrap: wrap;
        /* background-color: rgb(90, 98, 209); */
        justify-content: space-around;
    }
    .son{
        width: 40%;
        margin: 2%;
    }
    .number ,.number-margin-top{
        display: none;
    }
    .section-padding{
        display: block;
        position: relative;
        background-color: rgb(248, 246, 239);
        padding: 70px 30px 0px 30px;
    }
   /* .headerBt{
    display: block;
    border: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    padding: 0;
    z-index: 2001;
    background-color: transparent;
   } */

   /* button{
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-align: center;
    align-items: flex-start;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0; */


}


.logo{
    max-width: 300px;
    
}


header .nav-a>ul>li{
    position:relative;
    /* display: block; */
    /* text-align: justify; */
    /* display: inline-block; */
    background: #fff;
    padding-left: 40px;
    /* padding-top: 12px; */
    padding-right: 20px;
    padding-bottom: 5px;
    /* margin-left: 10px; */
    box-sizing: border-box;
    /* border-radius: 8px; */
    
}
header .nav-a>ul>li:hover{
    background: rgb(211, 206, 106);
    color: #fff;
}
header .nav-a>ul>li:hover a{
    color: #fff;
}

header .nav-a>ul>li>.chinese{
    vertical-align: inherit;
    text-decoration: none;
    color: rgb(68, 56, 44);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 510;
    
}

header .nav-a>ul>li>.nav-tag{
    /* position: absolute; */
    color: rgb(37, 103, 76); 
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 510px;
    left: 10px;
    top: -8px;
  }
  
  .sub-menu{
    opacity: 90%;
    display: none;
    top: 37px;
    left: -13px;
    padding: 10px;
    position: absolute;
    background-color: rgb(68, 56, 44);
    width: 105%;
    border-radius: 8px;
    padding-bottom: 10px;
    
}

.sub-menu>li{
    border-bottom: 0.1px solid rgb(211, 206, 106);
    line-height: 35px;
    text-align: center;
    display: block;
}
.sub-menu>li:nth-child(3){
    border-bottom: none;
}
    
.sub-menu>li>a{
    display: inline-block;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.sub-menu .white{
    color: rgb(248, 246, 239);
}
.sub-menu .green{
    color: rgb(211, 206, 106);
}
.nav-a>ul>li:hover .sub-menu{
    display: block;
}

.nav-b{
    /* display: flex; */
    /* justify-content: flex-end;
    order: -1; */
}





.justify-center{
    justify-content: center;
}
.up-nav-text{
    color: rgb(68, 56, 44);
    font-size: 14px;
}

a{
    text-decoration: none;
}


header .nav-b>ul>li{
    position:relative;
    display: list-item;
    text-align: justify;
    display: inline-block;
    box-sizing: border-box;
}
.nav-b a{
    display: inline-block;
    margin-left: 10px;
}
.nav-b a>span{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.nav-b a:nth-child(4){
    margin-left: 0px; ;

}
.nav-b a:nth-child(5){
    margin-left: 40px; ;

}
.banner{
    background-image: url('images/banner1-3.png');
    /* background-attachment: fixed; */
    background-size:91.6666667%;
    background-position: right;
    /* height: 230px;  */
    background-repeat: no-repeat;
    background-color: rgb(248, 246, 239);
    /* margin-top: 121px; */
    padding-bottom: 41.7%;
    position: relative;
}

.btn-primary{
    text-decoration: none;
    color:white;
    background-color: rgb(68, 57, 45);
    display: block;
    padding: 5px 0px 5px 0px;
    max-width: 80px;
    text-align: center;
    border-radius:4px;
    text-shadow: none;
    margin-left: 32.2%;
    
}
/* .banner-bg{
    position: relative;
    padding-top: 150px;
    background-color: rgb(248, 246, 239);
    overflow: hidden;
    clear: both;

    
}*/
/* .banner-img{
    margin-left: 8.33333333%;
    width:90%;
    float: right;

}
button{
    position: absolute;
    bottom: 10%;
    right: 8%;
}
.btn{
    display: inline-block;
    margin-left: 86.1111111%;
    margin-top: -100px;
    padding: 5px;
    background-color: rgb(68, 56, 44);
    opacity: 0.9;
    border: 1px solid rgb(68, 56, 44) ;
    border-radius: 4px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: rgb(248, 246, 239) ;

} */



.newsList>li{
    display: inline-block;
    border-bottom: 1px solid rgb(211, 206, 106);
    margin-bottom: 10px;
    padding: 10px;
}
.newsList>li>a{
    display: inline-block;
    cursor: pointer;
}
.date{
    color: rgb(68, 57, 45);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.yellow-hot{
    display: inline-block;
    color: #fff;
    background-color: rgb(237, 187, 70);
    border-radius: 4px;
    padding: 2.5px 4px;
    margin: 5px 15px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 505;
}
.gray-hot{
    display: inline-block;
    color: #fff;
    background-color: rgb(217, 217, 217);
    border-radius: 4px;
    padding: 2.5px 4px;
    margin: 5px 15px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 505;
}
.news-tittle{
    color: rgb(68, 57, 45);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 505;
}

.moreNews>a{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

/* 以下為行程區 */
.bg-picture1{
    width: 100%;
    background-image: url(images/bg1-1.png);
    margin-top: -1px;
    position: relative;
    background-repeat: no-repeat;
    margin-bottom: 0;
    padding-bottom: 47px;
    background-color: rgb(234, 231, 223);
}
.tittle1{
    display: block;
    border-left: 4px solid rgb(237, 187, 70);
    margin-left: 25px;
    padding-left: 1rem;
    letter-spacing: 0.04em;
    line-height: 20px;
    color: rgb(68, 57, 45);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 510;
}
.tittle2{
    display: block;
    border-left: 4px solid rgb(211, 206, 106);
    padding-left: 1rem;
    letter-spacing: 0.04em;
    line-height: 1;
    color: rgb(68, 57, 45);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 510;
}
.tittle3{
    display: block;
    border-left: 4px solid rgb(37, 106, 78);
    padding-left: 1rem;
    letter-spacing: 0.04em;
    line-height: 1;
    color: rgb(68, 57, 45);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 510;
}
.margin{
    margin-bottom: 30px;
}

.bg-picture1>.container-m{
    /* position: absolute; */
    max-width: 1200px;
    width: 95%;
    margin: auto;
    /* background-color: rgb(145, 18, 18); */
    /* margin-left: 8.33333333%; */
    /* margin-top: 135px; */
    padding-top: 133px;
}
.bg-picture2>.container2-m{
    /* position: absolute; */
    max-width: 1200px;
    width: 95%;
    margin: auto;
    /* background-color: rgb(145, 18, 18); */
    /* margin-left: 8.33333333%; */
    /* margin-top: 135px; */
    padding-top: 55px;
}
/* 
.inner-container-margin{
    margin-top: 50px;
} */


.inner-container-margin{
    margin-bottom: 90px;
}

/* .son{
    
    /* background-color: rgb(68, 167, 139); */
    /* width: 280px; */
    

.son img{
    width: 100%;
}


.img-container{
    /* height: 279; */
    /* width: 280px; */
    border-radius:20px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}
.img-content>p{
    color: rgb(68, 57, 45);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}
.price{
    margin-bottom: 10px;
}
.img-content>h5{
    color: rgb(68, 57, 45);
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 4px;
}

/* .img-tittle{
    font-size: 14px;
} */

.img-container img{
    width: 100%;
    transition: all .6s;
}

.img-container img:hover{
    transform: scale(1.2);
}

.bg-picture2{
    width: 100%;
    background-image: url(images/bg2.png);
    position: relative;
    background-repeat: no-repeat;
    padding-bottom: 150px;
    padding-top: 50px;
    background-color: rgb(248, 246, 239);
}
.bg-picture2>div>a{
    display: block;
}

.tittle1-margin-top{
    margin-top: 25px;
}
.inner-container-margin-top{
    margin-top: 25px;
}


/*////////// footer區 //////////*/

.footer-div{
    display: block;
}
footer{
    display: block;
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
    margin-bottom: 0;
    
}
.footer-container{
    margin: auto;
    width: 83.333333%;
    max-width: 1200px;
}
.footer-row{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 70px;
    
}
.footer-row a{
    color: rgb(217, 217, 217);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500; 
    letter-spacing: 1px;
    line-height: 20px;
}

dl{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
/* .space-between>dt>a{
    color: rgb(217, 217, 217);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500; 
    letter-spacing: 1px;
    line-height: 20px;
} */
.text-center{
    text-align: center;
    padding-bottom: 30px;
}
.footer-container>p{
    color: rgb(211, 206, 106);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500; 
}
dt>img{
    margin-top: 10px;
}

/*//////////// FAQ ////////////*/

.faq-banner img{
    width: 91.666667%;
    height: 519px;
    margin-left: 4.166667%;
    background-repeat: no-repeat;
}
.faq-banner{
    background-color: rgb(248, 246, 239);
    position: relative;
}
.faq-banner-text{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    top:476px;
    font-size: 20px;

}
.faq-tittle{
    display:block;
    color: rgb(68, 57, 45);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 510;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.5);
    padding: 7px 100px;
    border-radius: 20px 20px 0px 0px;
    
}
.faq-container1{
    width: 100%;
    background-color: rgb(248, 246, 239);
    padding-bottom: 40px;
}
.breadcrumb{
    margin: auto;
    width: 83.333333%;
    padding-top: 40px;
}
.breadcrumb-items{
    display: inline-block;
    display: flex;
}
.breadcrumb-items li{
    color: rgb(68, 57, 45);
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
}
.breadcrumb-items a{
    color: rgb(68, 57, 45);
}

.question{
    margin: auto;
    width: 83.333333%;
    display: flex;
    justify-content: space-between;
    
    
}
.question-theme{
    display: block;
    padding: 2px 80px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.question-border1{
    border: 2px solid rgb(37, 103, 76);
}
.question-border2{
    border: 2px solid rgb(211, 206, 106);
}
.question-theme a{
    display: block;
    color: rgb(68, 57, 45);
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight: 510;
}






.hot-question-container{
    width: 100%;
    background-color: rgb(248, 246, 239);
    padding-top: 60px;
    padding-bottom: 170px;
}
.question-hot-tittle>p{
    color: rgb(37, 103, 76);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 510;
    
}

.question-hot-tittle{
    margin: auto;
    width: 69.444444%;
    margin-bottom: 50px;
}

.question-content{
    background-color: rgb(234, 231, 223);
    border-radius: 10px;
    margin-bottom: 40px;
    margin-left: 15.2777778%;
    line-height: 20px;
    padding:10px 40px 10px 10px;
    cursor: pointer;
    /* margin: auto; */
    width: 69.444444%;
}
.question-content.active .answer{
    display: block;
}

.question-content.active .icon-arrow{
    transform: rotate(180deg);
}
.answer{
    line-height: 50px;
    display: none;
    color: rgb(68, 57, 45);
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    font-weight: 510;
    margin-left: 115px;
    
    
}
.question{
    position: relative;
    color: rgb(68, 57, 45);
    font-family:Arial, Helvetica, sans-serif;
    font-size:18px;
    font-weight: 530;
    line-height: 40px;
}
.icon-arrow{
    transition: transform .3s;
    position: absolute;
    width: 30px;
    line-height: 30px;
    text-align: center;
    /*background-color: pink;*/
    right:-35px;
    top:-5px;
    color: rgb(37, 106, 78);
}


/*//////////// FAQ 結束////////////*/


.tiro-container{
    width: 100%;
    background-color: rgb(248, 246, 239);
    padding-bottom: 50px;
}

.tiro{
    width: 83.333333%;
    margin-left: 8.33333333%;
    display: flex;
    flex-wrap: wrap;
}
.col-md-3{
    --num: calc(12 / 3);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 0px;
}
.col-md-9 {
    --num: calc(12 / 9);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 0px 40px 0px;
  }
.tiro-row{
    display: flex;
    flex-wrap: wrap;
    margin-left: 45px;
    /* gap: 0px; */
}
.tiro-son{
    width: 29%;
    margin: 2%;
    
}

.tiro-tittle1{
    color: rgb(68, 57, 45);
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    font-weight: 510;
    line-height: 50px;
}
.tiro a{
    color: rgb(68, 57, 45);
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    font-weight: 510;
    line-height: 30px;
}

.tiro-tittle2{
    margin-left: 62px;
    color: rgb(37, 106, 78);
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    font-weight: 510;
}

/*///////////////戶外指南///////////////*/

.second-tittle-area{
    width: 100%;
    background: rgb(248, 246, 239);
}
.second-tittle-container{
    margin: auto;
    width: 83.333333%;
    max-width: 1200px;
    padding: 30px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
}
.left-pic{
    position: relative;
}
.left-pic p{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
}
.right-pic{
    position: relative;
}
.right-pic p{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
}



.abc{
    width: 100%;
    background-color: rgb(248, 246, 239);
}
.def{
    width: 83.333333%;
    margin: auto;
}
.od{
    display: flex;
    flex-wrap: wrap;
}
.guide{
    width: 29%;
    margin: 2%;
    
}
.guide-content{
    font-display: block;
    text-align: center;
    
    font-family:Arial, Helvetica, sans-serif;
}
.guide-content>h4{
    height: 30px;
    font-size: 14px;
    color: rgb(37, 103, 76);
    margin-top: 10px;
}
.guide-content>p{
    height: 20px;
    font-size: 14px;
    color: rgb(68, 57, 45);
    padding-bottom: 20px;
    margin: 0px 25px 0px 25px;
}
.xyz{
    width: 83.333333%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 30px;
}
.gh{
    justify-content: space-between;
    max-width: 29.3052632% ;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 20px;
}
/* .guide-content{
    max-width: 378px;
} */
.pd-1{
    padding-top: 80px;
}
.pd-3{
    padding-bottom: 80px;
}


/*///////////////登山行程頁面修改///////////////*/

.img-content2>p{
    color: rgb(68, 57, 45);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
}

.img-content2>h5{
    color: rgb(68, 57, 45);
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 5px;
    /* padding-bottom: 0px; */
    font-size: 14px;
}
/*///////////////登山行程頁面修改 end///////////////*/

/*/////////////// login 頁面///////////////*/
#username, #password, #h3, #fullname, #comfirm_password,#username2, #password2{
    width: 589px;
    height: 30px;
    margin: 10px;
    color: rgb(68, 57, 45);
  }
  #h3{
    color: rgb(198, 144, 86);
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
  }
  .login_page{
    padding-bottom: 160px;
  }
  
  .login_page>#container1, #container2{
    margin: 50px;
    padding: 10px;
    width: 83.0555556%;
    height: 630px;
    background-color: rgb(234, 231, 223);
    border-radius: 70px;
    /* border-top: 10px solid rgb(211, 206, 106); */
    /* box-shadow: 0 0px 70px rgba(0, 0, 0, 0.1); */
    position:relative;   
    margin: auto;
    top: 100px;
    text-align:center;  
    font-family:Arial, Helvetica, sans-serif;
    margin-top: -50px;
  }
  
  .system_name{
    /*定位對齊*/
    position:relative;   
    margin: auto;
    top: 0px;
    text-align:center; 
    background-color: rgb(248, 246, 239);
  }
  
  .submit{
    background: rgb(211, 206, 106);
    color: rgb(37, 103, 76); 
    width: 200px;
    height: 40px;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 510px;
  }
  
  .submit:hover{
    color: rgb(211, 206, 106);  
    background: rgb(37, 103, 76);
  }
  
  #container2{
    visibility: hidden;   /*剛開始消失*/
    height: 350px;
  }
  
  
  #copyright{
    text-align: center;
    color: #a3a2a3;
    margin: -200px 0px 0px 0px;
    font-size: 14px;
  }
  
  input{
    padding: 5px;
    border: none; 
    border:solid 1px #ccc;
    border-radius: 10px;
  }